@model ProjetoSorveteria.Models.Sorvete

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sorvete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Copo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Copo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.PedidoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SorveteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
